@model SV20T1020001.DomainModels.Customer
@{
	ViewBag.Title = "Xoá khách hàng";
}
<div class="box box-danger">
	<div class="box-body">
		<form action="~/Customer/Delete/@Model.CustomerId" method="post">
			<!--Luu y doi tuong nhap input phai co name-->
			<div class="form-group">
				<label>Tên khách hàng:</label>
				<p class="form-control-static">@Model.CustomerName</p>
			</div>
			<div class="form-group">
				<label>Tên giao dịch:</label>
				<p class="form-control-static">@Model.ContactName</p>
				
			</div>
			<div class="form-group">
				<label>Điện thoại:</label>
				<p class="form-control-static">@Model.Phone</p>
				
			</div>
			<div class="form-group">
				<label>Email:</label>
				<p class="form-control-static">@Model.Email</p>
			</div>
			<div class="form-group">
				<label>Địa chỉ:</label>
				<p class="form-control-static">@Model.Address</p>
			</div>
			<div class="form-group">
				<label>Tỉnh/ Thành:</label>
				<p class="form-control-static">@Model.Province</p>
			</div>
			<div class="form-group">
				<label>Trạng thái:</label>
				@if (Model.IsLocked)
				{
					<p>
						Tài khoản bị khoá			
					</p>
				}
				else
				{
					<p>
						Tài khoản không bị khoá
					</p>
				}
			</div>
			<div class="form-group text-right">
				@if (ViewBag.AllowDelete)
				{
					<button type="submit" class="btn btn-danger">
						<i class="fa fa-trash-o"></i>
						Xác nhận xoá
					</button>
					
				}
				<a href="~/Customer" class="btn btn-default">
					Quay lại
				</a>
			</div>

		</form>
	</div>
</div>