@model CategorySearchResult
@{
    Layout = null;
}
<p style="margin: 10px 0 10px 0">
    Có <strong>@Model.RowCount</strong> loại hàng trong tổng số <strong>@Model.PageCount</strong> trang
</p>
<div class="table-responsive">
    <table class="table table-border table-hover table-striped">
        <thead>
            <tr class="bg-primary">
                <th style="width:100px">Ảnh</th>
                <th>Tên loại hàng</th>
                <th>Mô tả</th>
                <th style="width:80px" class="text-right"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                @if (string.IsNullOrEmpty(item.Photo))
                    item.Photo = "nophoto.png";
                <tr>
                    <td>
                        <img class="profile-user-img img-responsive img-bordered" src="~/images/categories/@item.Photo" alt="">
                    </td>
                    <td>@item.CategoryName</td>
                    <td>@item.Description</td>
                    <td class="text-right">
                        <a href="~/Category/Edit/@item.CategoryID" class="btn btn-xs btn-info">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="~/Category/Delete/@item.CategoryID" class="btn btn-xs btn-danger">
                            <i class="fa fa-remove"></i>
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <div class="text-center">
        <ul class="pagination">
            @for (int p = 1; p <= Model.PageCount; p++)
            {
                if (p == Model.Page)
                {
                    <li class="active"><a href="#">@p</a></li>

                }
                else
                {
                    <li><a href="javascript:;" onclick="doSearch('#formSearch',@p)">@p</a></li>
                }
            }
    </div>
</div>