@model OrderSearchInput
@{
    ViewBag.Title = "Quản lý đơn hàng";
}

<div class="box box-primary">
    <div class="box-body">
        <!--Form đầu vào tìm kiếm-->
        <form id="formSearch" action="~/Order/Search" method="post" data-container="#searchResult">
            <input type="hidden" name="@nameof(Model.PageSize)" value="@Model.PageSize" />
            <div class="row">
                <div class="col-sm-2">
                    @* <select class="form-control" name="Status" onchange="doSearch('#formSearch', 1)">
                        <option value="0">-- Trạng thái --</option>
                        <option value="1">Đơn hàng mới (chờ duyệt)</option>
                        <option value="2">Đơn hàng đã duyệt (chờ chuyển hàng)</option>
                        <option value="3">Đơn hàng đang được giao</option>
                        <option value="4">Đơn hàng đã hoàn tất thành công</option>
                        <option value="-1">Đơn hàng bị hủy</option>
                        <option value="-2">Đơn hàng bị từ chối</option>
                    </select> *@
                    @Html.DropDownListFor(m => m.Status, SelectListHelper.OrderStatus(), new { @class = "form-control select2", @onchange = "doSearch('#formSearch', 1)" })
                </div>
                <div class="col-sm-3" style="margin-left:-20px">
                    <input type="text" name="DateRange" value="@Model.DateRange" class="form-control daterange-picker" placeholder="" onchange="doSearch('#formSearch', 1)" />
                </div>                
                <div class="col-sm-7 input-group">
                    <input type="text" name="searchValue"
                           class="form-control" value="@Model.SearchValue"
                           placeholder="Tìm kiếm theo tên khách hàng hoặc tên người giao hàng">
                    <span class="input-group-btn">
                        <button type="submit" id="search-btn" class="btn btn-flat btn-info" style="margin-left:10px">
                            <i class="fa fa-search"></i> Tìm kiếm
                        </button>
                    </span>
                </div>
            </div>
        </form>

        <!-- Kết quả tìm kiếm -->
        <div id="searchResult"></div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function (e) {
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                doSearch(this, 1);
                return;
            });
            doSearch("#formSearch", @Model.Page);
        });

        function doSearch(formSearch, page) {
            var action = $(formSearch).prop("action");
            var method = $(formSearch).prop("method");
            var container = $(formSearch).data("container");

            var searchData = $(formSearch).serializeArray();
            searchData.push({ "name": "Page", "value": page });

            $.ajax({
                url: action,
                type: method,
                data: searchData,
                async: false,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    $(container).html(data);
                }
            });
        }

    </script>

}
